<div class="row">
	<div class="col-md-8">
		<div class="media">
			<br />
			<% avatar_url = @user.avatar_url(96) %>
			<% if avatar_url %>
				<div class="media-left">
					<%= image_tag avatar_url, class: 'media-object' %>
				</div>
			<% end %>
			<div class="media-body">
				<h2 class="media-heading"><%= @user.username %></h2>
				<p><%= @user.email %></p>
				<p>User since: <%= @user.created_at.to_date.to_formatted_s(:long_ordinal)%></p>
			</div>
		</div>
	</div>
</div>

<h2>Completed Tasks</h2>
<p><%= link_to "New Task", user_items_path(@user), class: 'btn btn-default', method: :post %></p>