<div class="col-md-8 col-md-offset-2 horiz-center">
  <h2 class='text-center'>To-Do Items</h2>
  <%= form_for [current_user, @item], url: user_items_path(current_user) do |f| %>
    <div class="form-group mb0">
     <div class="input-group">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :name, class: 'form-control', style: 'border-bottom-left-radius: 4px', placeholder: 'Enter new to-do item' %>
      <span class="input-group-btn">
       <%= f.submit "Save", class: 'btn btn-primary', id: 'button-grow' %>
     </span>
     </div>
    </div>
  <% end %>

  <ul class="list-group checked-list-box">
    <%= render @items %>
  </ul>
</div>
