<%= content_tag :li, id: "item_#{item.id}", class: ["list-group-item", ("list-group-item-danger" if item.created_at < 6.days.ago)] do %>
  <span class="pull-left"><%= link_to "", user_item_path(item.user_id, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></span> 
  <div class="col-md-10 npr"><%= item.name %></div>
  <div>
  	<span class="pull-right" data-toggle="popover" data-content="<%= distance_of_time_in_words(Time.now, item.created_at + 7.days, true, highest_measures: 3) %>" data-trigger="hover"><%= distance_of_time_in_words(Time.now, item.created_at + 7.days, false, highest_measure_only: true) %></span>
  </div>
<% end %>
