<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<%= link_to "Blocitoff", root_path, class: 'navbar-brand' %>
    </div>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li>
      	<% avatar_url = current_user.avatar_url(50) %>
				<% if avatar_url %>
				<div class="media-left", style="padding-right: 0px;">
          <%= link_to authenticated_root_path do %>
  					<%= image_tag avatar_url, class: 'media-object' %>
          <% end %>
				</div>
				<% end %>
			</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "#{current_user.username} " %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "My profile", authenticated_root_path %></li>
        </ul>
      </li>
    </ul>
    <% end %>
  </div>
</nav>

	<div class="container" style="margin-top: 70px">
	 	<div class="row flash">
		</div>

		<%= yield %>

	</div>
</body>
</html>
